# PARTE 15: IMPORTACIÓN DE DATASETS

* .csv
* .xls
* .xlsx
* .txt
* .json

## PARTE 15.1: IMPORTAR UN .CSV MEDIANTE READ_CSV

* VALIDAR QUE SE CARGÓ CORRECTAMENTE
* FILAS --> CONSULTA DE CABECERA Y COLA
* COLUMNAS --> LA ÚLTIMA COLUMNA DEBE TENER INFORMACIÓN CORRECTA

In [1]:
import pandas as pd
RUTA = "DATASETS - CERTIFICACIÓN/15_1_CARGA_CSV_VACUNACION.csv"
DATASET = pd.read_csv(RUTA)

#### CABECERA Y COLA

In [3]:
DATASET.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Albania,ALB,2021-01-10,0.0,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/vaksinimi-anticovid...
1,Albania,ALB,2021-01-11,NaN,NaN,NaN,NaN,64.0,NaN,NaN,NaN,22.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/vaksinimi-anticovid...
2,Albania,ALB,2021-01-12,128.0,128.0,NaN,NaN,64.0,0.00,0.00,NaN,22.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/vaksinimi-anticovid...
3,Albania,ALB,2021-01-13,188.0,188.0,NaN,60.0,63.0,0.01,0.01,NaN,22.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/vaksinimi-anticovid...
4,Albania,ALB,2021-01-14,266.0,266.0,NaN,78.0,66.0,0.01,0.01,NaN,23.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/vaksinimi-anticovid...

In [4]:
DATASET.tail()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
3203,Wales,NaN,2021-02-10,687892.0,684097.0,3795.0,28786.0,28015.0,21.82,21.70,0.12,8886.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...
3204,Wales,NaN,2021-02-11,719954.0,715944.0,4010.0,32062.0,27897.0,22.83,22.71,0.13,8848.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...
3205,Wales,NaN,2021-02-12,753669.0,749445.0,4224.0,33715.0,27743.0,23.90,23.77,0.13,8799.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...
3206,Wales,NaN,2021-02-13,776224.0,771651.0,4573.0,22555.0,26285.0,24.62,24.47,0.15,8337.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...
3207,Wales,NaN,2021-02-14,790211.0,784809.0,5402.0,13987.0,26206.0,25.06,24.89,0.17,8312.0,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...

#### COMANDOS IMPORTANTES DEL READ_CSV
* names --> NOMBRE DE LAS CABECERAS
* header --> VALIDAR SI TIENE CABECERA O NO
* skiprows --> OBVIAR DETERMINADA CANTIDA DE FILAS
* sep --> INDICAR CUÁL ES EL CARACTER SEPARADOR

In [11]:
CABECERA = ["C1","C2","C3","C4","C5","C6","C7","C8","C9","C10","C11","C12","C13","C14","C15"]

RUTA = "DATASETS - CERTIFICACIÓN/15_1_CARGA_CSV_VACUNACION.csv"
DATASET = pd.read_csv(RUTA,header = None, names = CABECERA, skiprows = 1, sep = ",")

In [12]:
DATASET.head()

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14,C15
0,Albania,ALB,2021-01-10,0.0,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/vaksinimi-anticovid...
1,Albania,ALB,2021-01-11,NaN,NaN,NaN,NaN,64.0,NaN,NaN,NaN,22.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/vaksinimi-anticovid...
2,Albania,ALB,2021-01-12,128.0,128.0,NaN,NaN,64.0,0.00,0.00,NaN,22.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/vaksinimi-anticovid...
3,Albania,ALB,2021-01-13,188.0,188.0,NaN,60.0,63.0,0.01,0.01,NaN,22.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/vaksinimi-anticovid...
4,Albania,ALB,2021-01-14,266.0,266.0,NaN,78.0,66.0,0.01,0.01,NaN,23.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/vaksinimi-anticovid...

## PARTE 15.2: IMPORTAR UN .XLS . XLSX MEDIANTE READ_EXCEL

In [13]:
import pandas as pd
RUTA = "DATASETS - CERTIFICACIÓN/15_2_CARGA_XLS_COMPUTACION_BRASIL.xlsx"
DATASET = pd.read_excel(RUTA,"Sheet1")

In [15]:
DATASET.head()

,time,Rank,Product Names,Stars,Reviews,Authors/Company,Edition/Console,Price_std_or_min,Max_prices
0,2020-08-01 18:22,1,"Wacom One CTL472 - Mesa Digitalizadora, Preto ...",NaN,NaN,NaN,NaN,379.00,NaN
1,2020-08-01 18:22,2,Multilaser MO251 - Mouse Sem Fio 2.4 Ghz 1200 ...,NaN,NaN,NaN,NaN,29.90,NaN
2,2020-08-01 18:22,3,"Suporte para Notebook, OCTOO, Uptable, UP-BL, ...",NaN,NaN,NaN,NaN,47.54,NaN
3,2020-08-01 18:22,4,Repetidor Expansor TP-Link Wi-Fi Network 300Mb...,NaN,NaN,NaN,NaN,151.99,NaN
4,2020-08-01 18:22,5,Mouse Logitech M170 Wireless Preto - 910-004940,NaN,NaN,NaN,NaN,58.13,NaN

#### COMANDOS IMPORTANTES DEL READ_EXCEL
* names --> NOMBRE DE LAS CABECERAS
* header --> VALIDAR SI TIENE CABECERA O NO
* skiprows --> OBVIAR DETERMINADA CANTIDA DE FILAS

In [19]:
CABECERA = ["C1","C2","C3","C4","C5","C6","C7","C8","C9"]

RUTA = "DATASETS - CERTIFICACIÓN/15_2_CARGA_XLS_COMPUTACION_BRASIL.xlsx"
DATASET = pd.read_excel(RUTA,"Sheet1", header = None , names = CABECERA, skiprows = 1)

In [20]:
DATASET

,C1,C2,C3,C4,C5,C6,C7,C8,C9
0,2020-08-01 18:22,1,"Wacom One CTL472 - Mesa Digitalizadora, Preto ...",NaN,NaN,NaN,NaN,379.00,NaN
1,2020-08-01 18:22,2,Multilaser MO251 - Mouse Sem Fio 2.4 Ghz 1200 ...,NaN,NaN,NaN,NaN,29.90,NaN
2,2020-08-01 18:22,3,"Suporte para Notebook, OCTOO, Uptable, UP-BL, ...",NaN,NaN,NaN,NaN,47.54,NaN
3,2020-08-01 18:22,4,Repetidor Expansor TP-Link Wi-Fi Network 300Mb...,NaN,NaN,NaN,NaN,151.99,NaN
4,2020-08-01 18:22,5,Mouse Logitech M170 Wireless Preto - 910-004940,NaN,NaN,NaN,NaN,58.13,NaN
...,...,...,...,...,...,...,...,...,...
34495,2020-10-01 22:37,46,Mouse Pad Ergonomico Gel ERG-102 Preto FORTREK,4.5,956.0,NaN,NaN,28.51,NaN
34496,2020-10-01 22:37,47,"C3Tech NBC-50 Base para Notebook, Preto",4.6,2135.0,NaN,NaN,74.90,NaN
34497,2020-10-01 22:37,48,Base Cooler Vertical Para Notebook Multilaser ...,4.6,2251.0,NaN,NaN,137.89,NaN
34498,2020-10-01 22:37,49,Garrafa De Tinta Original Epson Ecotank 544 Pr...,4.7,276.0,NaN,NaN,43.90,NaN
34499,2020-10-01 22:37,50,"Cabo HDMI X DVI-D HMD-201 1, 8m, Fortrek",4.6,214.0,NaN,NaN,32.56,NaN

## PARTE 15.3: IMPORTAR UN .TXT MEDIANTE READ_CSV

In [22]:
import pandas as pd
RUTA = "DATASETS - CERTIFICACIÓN/15_3_CARGA_TXT_FUTBOL_BRASIL.txt"
DATASET = pd.read_csv(RUTA,sep=";",encoding = "latin-1")

In [23]:
DATASET

      #ROUND        DATE   HOUR         HOME-TEAM SCORE       AWAY-TEAM
0          1  29/03/2003  18:00        Guarani/SP   4x2        Vasco/RJ
1          1  29/03/2003  18:00       Atlético/PR   2x0       Grêmio/RS
2          1  30/03/2003  18:00          Goiás/GO   2x2     Paysandu/PA
3          1  30/03/2003  18:00    Corinthians/SP   0x3     Atlético/MG
4          1  30/03/2003  16:00       Flamengo/RJ   1x1     Coritiba/PR
...      ...         ...    ...               ...   ...             ...
6881       2  08/12/2019  19:00      Fortaleza/CE   2x1        Bahia/BA
6882       2  08/12/2019  19:00          Goiás/GO   3x2       Grêmio/RS
6883       2  08/12/2019  19:00  Internacional/RS   2x1     Atlético/MG
6884       2  08/12/2019  19:00         Santos/SP   4x0     Flamengo/RJ
6885       2  08/12/2019  19:00          Vasco/RJ   1x1  Chapecoense/SC

[6886 rows x 6 columns]

## PARTE 15.4: IMPORTAR UN .JSON MEDIANTE READ_JSON

In [1]:
import pandas as pd
RUTA = "DATASETS - CERTIFICACIÓN/15_4_CARGA_JSON_IRIS.json"
DATASET = pd.read_json(RUTA)

In [2]:
DATASET

     sepalLength  sepalWidth  petalLength  petalWidth    species
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]

## PARTE 15.5: EXPORTAR UN DATASET EN DISTINTOS FORMATOS

In [7]:
DATASET.head()

   sepalLength  sepalWidth  petalLength  petalWidth species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

In [8]:
DATASET.to_csv("DATASETS - CERTIFICACIÓN/15_5_FORMATO_CSV.csv")
DATASET.to_excel("DATASETS - CERTIFICACIÓN/15_5_FORMATO_EXCEL.xls")
DATASET.to_excel("DATASETS - CERTIFICACIÓN/15_5_FORMATO_EXCEL.xlsx")
DATASET.to_csv("DATASETS - CERTIFICACIÓN/15_5_FORMATO_TXT.txt")
DATASET.to_json("DATASETS - CERTIFICACIÓN/15_5_FORMATO_JSON.json")